.banner {
	display: block;
	margin:0 auto;
	width: 1298px;
	height: 898px;
	background: url(../image/3-07.png) no-repeat;
}
.banner h3 {
	float: left;
	width: 96px;
	height: 27px;
	color: white;
	margin-top: 50px;
	margin-left: 351px;
	padding-top: 10px;
	padding-left: 27px;
	background: #cc00db;
}
.banner1 {
	float: left;
	width: 570px;
	height: 193px;
	margin-left: -123px;
	margin-top: 88px;
	background: #ffffff;
}
.banner1 h4 {
	float: left;
	width: 400px;
	margin-top: 32px;
	margin-bottom: 20px;
	margin-left: 8px;
}
.p1
 {
	float: left;
	width: 273px;
	height: 22px;
	margin-left: 12px;
	margin-top: 14px;
	font-size: 16px;
	color: #7f7f7f;
}
.p1  i{
	float: left;
	width: 22px;
	height: 22px;
	background: url(../image/3-02.png)no-repeat;
}
.banner-img {
	margin-left: 446px;
	margin-top: 70px;
}